<?xml version="1.0" encoding="utf-8"?>
<!-- mono config file for fnaify dllmaps -->
<configuration>
	<dllmap dll="FAudio" target="libFAudio.so"/>
	<dllmap dll="MojoShader.dll" target="libmojoshader.so"/>
	<dllmap dll="SDL2.dll" target="libSDL2.so"/>
	<dllmap dll="SDL2_image.dll" target="libSDL2_image.so"/>
	<dllmap dll="SDL2_mixer.dll" target="libSDL2_mixer.so"/>
	<dllmap dll="SDL2_ttf.dll" target="libSDL2_ttf.so"/>
	<dllmap dll="freetype6" target="libfreetype.so" />
	<dllmap dll="freetype6.dll" target="libfreetype.so" />
	<dllmap dll="libtheorafile.dll" target="libtheorafile.so"/>
	<dllmap dll="libtheoraplay.dll" target="libtheoraplay.so"/>
	<dllmap dll="libvorbisfile.dll" target="libvorbisfile.so"/>
	<dllmap dll="openal32.dll" target="libopenal.so"/>
	<dllmap dll="soft_oal.dll" target="libopenal.so"/>
	<dllmap dll="System.Native" target="libmono-native.so"/>
	<dllmap dll="System.Net.Security.Native" target="libmono-native.so"/>

	<!-- Atom Zombie Smasher -->
	<dllmap dll="msvcr100.dll" target="libc.so"/>

	<!-- Terraria, Solaroids -->
	<dllmap dll="gdiplus.dll" target="libgdiplus.so"/>

	<!-- MidBoss; also needs libSDL2_image_compact.so -->
	<dllmap dll="i:cygwin1.dll" target="libc.so"/>
	<dllmap dll="libc" target="libc.so"/>
	<dllmap dll="intl" target="libc.so"/>
	<dllmap dll="libintl" target="libc.so"/>
	<dllmap dll="i:libxslt.dll" target="libxslt.so"/>
	<dllmap dll="i:odbc32.dll" target="libodbc.so"/>
	<dllmap dll="oci" target="libclntsh.so"/>
	<dllmap dll="db2cli" target="libdb2_36.so"/>
	<dllmap dll="MonoPosixHelper" target="libMonoPosixHelper.so"/>
	<dllmap dll="i:msvcrt" target="libc.so"/>
	<dllmap dll="i:msvcrt.dll" target="libc.so"/>
	<dllmap dll="sqlite" target="libsqlite.so"/>
	<dllmap dll="sqlite3" target="libsqlite3.so"/>
	<dllmap dll="libX11" target="libX11.so"/>
	<dllmap dll="libcairo-2.dll" target="libcairo.so"/>
	<dllmap dll="libcups" target="libcups.so"/>

	<!-- Nuclex.Input: Dead Pixels, Amazing Princess Sarah, Akane the Kunoichi -->
	<dllmap dll="kernel32">
		<dllentry dll="ld.so" name="LoadLibrary" target="dlopen"/>
	</dllmap>

	<!-- Steam stubs -->
	<!-- CommunityExpressSW: Little Racers STREET, Murder Miners -->
	<dllmap dll="CommunityExpressSW" target="libcestub.so"/>
	<dllmap dll="SteamworksNative.dll" target="libSteamworksNative.so"/>
	<!-- SteamWrapper: Bastion -->
	<dllmap dll="SteamWrapper.dll">
		<dllentry dll="libstubborn.so" name="SteamWrapper_GetCurrentGameLanguage"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="SteamWrapper_Init"				target="int_zero"/>
		<dllentry dll="libstubborn.so" name="SteamWrapper_GetUserDataFolder"		target="string_empty"/>
		<dllentry dll="libstubborn.so" name="SteamWrapper_RunCallbacks"			target="int_zero"/>
		<dllentry dll="libstubborn.so" name="SteamWrapper_LbUploadScore"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="SteamWrapper_Shutdown"			target="int_zero"/>
		<dllentry dll="libstubborn.so" name="SteamWrapper_SetAchievement"		target="int_zero"/>
	</dllmap>

	<!-- FMOD stubs -->
	<dllmap dll="fmodstudio">
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_Create"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_Initialize"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_SetListenerAttributes"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_Update"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_LoadBankFile"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_GetVCA"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_VCA_SetVolume"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_VCA_GetVolume"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_GetEvent"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventDescription_LoadSampleData"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventDescription_CreateInstance"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventDescription_Is3D"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_Start"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_GetBus"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_Bus_SetPaused"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_Bus_GetPaused"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_GetDescription"	target="int_zero"/>
		<!-- Celeste needs a specific value for 2 variables -->
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventDescription_GetPath"	target="int_celeste_event"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_Bank_LoadSampleData"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_SetVolume"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_GetListenerAttributes"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_Set3DAttributes"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_Release"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_GetVolume"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_Stop"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_Get3DAttributes"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_Release"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_SetParameterValue"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventDescription_IsOneshot"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_SetPaused"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_TriggerCue"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_Bus_StopAllEvents"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_GetPaused"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventInstance_GetPlaybackState"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_System_GetLowLevelSystem"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventDescription_GetInstanceCount"	target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_Studio_EventDescription_UnloadSampleData"	target="int_zero"/>
	</dllmap>
	<dllmap dll="fmodex">
		<dllentry dll="libstubborn.so" name="FMOD_System_Create"			target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_System_GetVersion"			target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_System_Init"				target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_System_SetReverbProperties"		target="int_zero"/>
		<dllentry dll="libstubborn.so" name="FMOD_System_Update"			target="int_zero"/>
	</dllmap>
</configuration>
