<?xml version="1.0" encoding="utf-8"?>
<!-- mono config file for fnaify dllmaps -->
<configuration>
	<dllmap dll="FAudio" target="libFAudio.so"/>
	<dllmap dll="MojoShader.dll" target="libmojoshader.so"/>
	<dllmap dll="SDL2.dll" target="libSDL2.so"/>
	<!-- MidBoss needs libSDL2_image_compact.so -->
	<dllmap dll="SDL2_image.dll" target="libSDL2_image.so"/>
	<dllmap dll="SDL2_mixer.dll" target="libSDL2_mixer.so"/>
	<dllmap dll="SDL2_ttf.dll" target="libSDL2_ttf.so"/>
	<dllmap dll="SteamworksNative.dll" target="libSteamworksNative.so"/>
	<dllmap dll="freetype6" target="libfreetype.so" />
	<dllmap dll="freetype6.dll" target="libfreetype.so" />
	<dllmap dll="libtheorafile.dll" target="libtheorafile.so"/>
	<dllmap dll="libtheoraplay.dll" target="libtheoraplay.so"/>
	<dllmap dll="libvorbisfile.dll" target="libvorbisfile.so"/>
	<dllmap dll="openal32.dll" target="libopenal.so"/>
	<dllmap dll="soft_oal.dll" target="libopenal.so"/>

	<!-- Atom Zombie Smasher -->
	<dllmap dll="msvcr100.dll" target="libc.so"/>

	<!-- Terraria, Solaroids -->
	<dllmap dll="gdiplus.dll" target="libgdiplus.so"/>

	<!-- MidBoss (monoconfig) -->
	<dllmap dll="i:cygwin1.dll" target="libc.so"/>
	<dllmap dll="libc" target="libc.so"/>
	<dllmap dll="intl" target="libc.so"/>
	<dllmap dll="libintl" target="libc.so"/>
	<dllmap dll="i:libxslt.dll" target="libxslt.so"/>
	<dllmap dll="i:odbc32.dll" target="libodbc.so"/>
	<dllmap dll="oci" target="libclntsh.so"/>
	<dllmap dll="db2cli" target="libdb2_36.so"/>
	<dllmap dll="MonoPosixHelper" target="libMonoPosixHelper.so"/>
	<dllmap dll="i:msvcrt" target="libc.so"/>
	<dllmap dll="i:msvcrt.dll" target="libc.so"/>
	<dllmap dll="sqlite" target="libsqlite.so"/>
	<dllmap dll="sqlite3" target="libsqlite3.so"/>
	<dllmap dll="libX11" target="libX11.so"/>
	<dllmap dll="libcairo-2.dll" target="libcairo.so"/>
	<dllmap dll="libcups" target="libcups.so"/>

	<!-- Nuclex.Input (Dead Pixels, Amazing Princess Sarah, Akane the Kunoichi -->
	<dllmap dll="kernel32">
		<dllentry dll="ld.so" name="LoadLibrary" target="dlopen"/>
	</dllmap>
</configuration>
