#!/bin/sh

#############
# created 2017-12-29 by Thomas Frohwein (thfr)
#
# wrapper script for launching FNA games on openbsd
# part of fnaify porting script repo
#############

# Move to game's location in case invoked from elsewhere
cd "`dirname "$0"`"

# make mono search for libraries in system folder
# by running with a set LB_LIBRARY_PATH
LD_LIBRARY_PATH=/usr/local/lib mono <WINDOWS_EXECUTABLE>
